
/* Nova edits */

div#pills-tabContent {
    padding-top: 5px;
}

.form-control {

    padding: 25px 15px;
    color: #989898 !important;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 2px;
}


.card-body {
    padding: 15px 25px 5px;
    border-bottom: 1px solid #fafafa;
    flex: none;
}
.list-group-item {
    padding: 15px 25px 15px;
}
.mb-3, .my-3 {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    padding: 20px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.logo {
    color: #1f4a6b;
    text-decoration: none;
    font-size: 47px;
    font-weight: 400;
}
.btn-primary,
.btn-danger,
.nav-pills,
.nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #a9dbb6;
    border:none;
} {
    font-weight:600;
    color:#FFF;

}

.nav-pills .nav-link {
    font-weight: 600;
    font-size: 15px;
}

.card a {
    font-size: 17px;
    font-weight:400;
}

body, .logo, a {
    font-family: "Helvetica Neue" !important;
}

body {
    background:#fafafa !important;
}

.card {
    border:1px solid #f5f5f5;
    border-radius: 2px;
    /*box-shadow: 0 3px 30px 4px #ffffff;*/
    box-shadow: 0 2px 28px 0 rgba(0,0,0,0.03);
    min-height: 220px;
}

.card, .list-group, .list-group-item  {
    background-color:#FFF;
    /*color:#FFF;*/
}
a, .card a, .list-group a, .listgroup-item a {
    color:#2e6d9e;
}



/* Orig */


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}
.logo {
    color: #636b6f;
    text-decoration: none;
}
.logo:hover {
    color: #636b6f;
    text-decoration: none;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

select.form-control {
    padding: 15px 11px;
    height: auto;
    width: 210px;
}

.city-photo {
    height: 380px;
    background: #e8e8e8;
}
